.home__bg {
    background-image: url(C:/Users/user/Desktop/portfolio/src/assets/img/bg.jpg);
    background-color: #010101;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}